* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Add fluid typography for better readability */
@media (min-width: 320px) {
    :root {
        font-size: calc(16px + 0.5vw);
    }
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;

}

.firsthead {
    background-color: #FE5003;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
}

.navbars {
    color: black;
    font-weight: 500;
}

.navbars:hover {
    color: #6C35EA;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

.afternav {
    display: flex;
    gap: 15px;
    margin-right: 30px;
    margin-left: 70px;
}

.first_section_div {
    display: flex;
    align-items: start;
}

.first_section_pathone_firsthalf {
    margin-left: 25px;
    margin-top: 165px;
    font-size: 45px;
}

.bold {
    font-weight: 800;
}

.orange {
    color: #FE5003;
}

.purple {
    color: #6C35EA;
}

.lightpurple {
    color: #C396FE;
}

.green {
    color: #00AC63;
}

.first_section_pathone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first_section_pathone_secondhalf_one {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.first_section_pathone_secondhalf_second {
    font-weight: bold;
    font-size: 54px;
    color: #B8EB84;

}

.first_section_pathone_secondhalf {
    padding-left: 33px;
    padding-top: 100px;
    position: relative;
    top: 30px;
}


.second_section_div_bg {
    background-color: #6C35EA;
    width: 100vw;
    /* height: 250vh; */
    position: relative;
    top: -432px;
    padding-bottom: 120px;
}

.second_section_div_titlesection {
    padding-left: 30px;
}

.second_section_div_titlesection_pathone {
    display: flex;
    padding-top: 100px;
}

.second_section_div_titlesection_pathone_img_div {}

.second_section_div_titlesection_pathone_img {}

.second_section_div_titlesection_pathone_content_div {
    margin: 50px;
    width: 41%;
}

.second_section_div_titlesection_pathone_content_title {
    color: white;
    margin-bottom: 50px;
}

.second_section_div_titlesection_pathone_content_para {
    color: white;
    font-size: 21px;
}

.second_section_div_titlesection_pathone_content_para_pathtwo {
    color: white;
    font-size: 21px;
    margin-top: 20px;
}

.light_green {
    color: #B8EB84;
}

.second_section_div_titlesection_pathtwo {
    display: flex;
    padding-top: 36px;
    padding-right: 60px;
}

.second_section_div_titlesection_pathtwo_img_div {
    position: relative;
}

.line {
    position: absolute;
    z-index: -10;
    top: -360px;
    left: 213px;
}

.second_section_div_titlesection_pathtwo_content_div {
    color: white;
    font-size: 21px;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}

.two_section_hands {
    position: absolute;
    width: 40%;
}

.paras {
    margin-left: 191px;
}

.first_section_mobileimage {
    display: none;
}

.first_section_destopimage {
    display: inline;
}

.second_section_div_titlesection_pathone_img_mobile {
    display: none;
}



.first_path {
    width: 50%;
    z-index: 10;
}

.three_section_bg_img {
    width: 100vw;
}

.three_section {
    position: relative;
    background: #c396fe;
    height: 74vh;
}

.three_section_bg {
    position: absolute;
    top: -600px;
}

.three_section_div {
    position: relative;
    top: -940px;
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    height: 100%;
}

.three_section_div_pathone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.three_section_div_pathtwo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.three_section_first_header {
    font-size: 40px;
}

.three_section_first_para {
    font-size: 21px;
    margin-top: 30px;
    font-weight: 600;
}

.three_section_second_para {
    font-size: 21px;
    margin-top: 30px;
    font-weight: 600;
}

.second_path {
    width: 50%;
    z-index: 10;
}

.third_path {
    width: 50%;
    z-index: 1;
}

.fourth_path {
    width: 50%;
    z-index: 1;
    position: absolute;
    right: -174px;
}

.third_path_div {
    position: relative;
    top: -330px;
}

.third_path_div_div {}

.third_mobile {
    display: none;
}

.third_desktop {
    display: inline;
    width: 95%;
    height: 92%;

}

.four_section {
    position: relative;
    z-index: 10;
}

.four_section_div {
    background-color: black;
    background-image: url('fourthbg_patten.svg');
    background-repeat: no-repeat;
    color: white;
    white-space: nowrap;
    /* Ensures all text stays in one line */
    overflow: hidden;
    /* Hides the overflowed content */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    /* Adjust font size as per your design */
    padding: 20px 0;
}

.four_section_div p {
    display: inline-block;
    padding-right: 50px;
    /* Adds some space between each repeated text */
    animation: scroll-left 10s linear infinite;
    /* The animation applied to each paragraph */
    font-size: 30px;
}

.five_section_div {
    background-color: #B8EB84;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.five_section_div_header {
    font-size: 3rem;
}


.five_section_div_para {
    font-size: 1.5rem;
}

.five_section_div_mainone {
    display: flex;
    height: 1220px;
}

/* .five_section_div_div {
    z-index: 10;
} */
.five_section_div_div {
    z-index: 10;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin: 40px 0px 40px 40px;
    width: 50%;
}

.five_section_div_div_second {
    position: relative;
    top: -320px;
}

/* .five_section_div_div_div {
    background: white;
    border-radius: 15px;
    min-width: 300px;
    max-width: 590px;
    padding: 46px;
    margin: 60px;
} */
.five_section_div_div_div {
    background: white;
    border-radius: 15px;
    min-width: 300px;
    max-width: 590px;
    padding: 46px;
    width: 600px;
}

.five_section_div_div_header {}

.five_section_div_div_para {}

.five_section_div_div_div_img {
    width: 78%;
    margin-left: 70px;
}

.five_section_div_div_div_img_two {
    width: 90%;
}

.five_section_div_div_div_img_heart_div {
    position: relative;
    right: -259px;
    bottom: -195px;
}

.five_section_div_div_div_img_heart {}

.five_section_div_div_div_img_mobile {
    display: none;
}


.six_section_div {
    background-image: url("sixbg.svg");
    position: relative;
    z-index: 10;
}

.six_section_div_head {
    color: white;
    width: 50%;
    text-align: center;
    font-size: 2.5rem;
}

.six_section_div_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.seven_section_div_content_two_button {
    background-color: #FE5003;
    border-radius: 20px;
    padding: 15px 28px;
    border: none;
    color: white;
    font-size: 1rem;
}

.seven_section_div_content_two_input {
    border-radius: 20px;
    border: none;
    width: 30%;
}

.seven_section_div_content_two {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    gap: 63px;
}

.seven_section_div_content_one_para {
    width: 32%;
}

.seven_section_div_content_one_head {
    font-size: 23px;
}

.seven_section_div_content_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
    margin-bottom: 30px;
}

.footer_main_first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer {
    background-color: #6c38d2;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}


.footer img {
    margin-bottom: 20px;
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 14px;
    margin-bottom: 20px;
}

.footer .email-input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.footer button {
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.footer .links,
.footer .socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer .links ul,
.footer .socials ul {
    list-style: none;
}

.footer .links ul li,
.footer .socials ul li {
    margin-bottom: 10px;
}

.footer .socials ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer .get-in-touch {
    margin-top: 20px;
    font-size: 14px;
}

.footer .get-in-touch p {
    margin-bottom: 5px;
}

.footer .get-in-touch p:last-child {
    margin-bottom: 0;
}

.footer .copyright {
    margin-top: 20px;
    font-size: 12px;
}

.footer_main {
    margin-top: 50px;
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.seven_section_div_bg {
    width: 100%;
}

.seven_section_div_bg_div {
    position: relative;
    z-index: 10;
}

.seven_section_div_bg_bg_div {
    position: absolute;
    top: 40px;
}

.second_section_div_titlesection_pathone_img_mobile {
    display: none;
}

.six_section_div_design {
    width: 100%;
    position: relative;
    top: -10px;
}


.seven_section_div {
    width: 100%;
    position: relative;
    background-color: #c396fe;
}

.seven_section_div_img_div {
    position: absolute;
    z-index: 2;
    top: -175px;
}

.sticker_div {
    position: relative;
    z-index: 10;
}

.sticker_div_div {
    position: absolute;
    right: 0;
    top: -105px;
}

.sticker_div_img {
    width: 65%;
}



.first_section_pathtwo_img_div {
    position: static;
    z-index: 10;
}

.five_section_bg_design_img {
    width: 78%;
}

.five_section_bg_design {
    z-index: 0;
    position: absolute;
    top: 343px;
}

.five_section {
    position: relative;
}

@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.seven_section_div_img_phone {
    display: none;
}

.seven_section_div_img {
    width: 100%;
    display: inline;
}

@media (max-width: 820px) {
    .five_section_div_div {
        width: 100%;
    }

    .five_section_div_mainone {
        gap: 30px;
    }

    .five_section_div_div_div {
        background: white;
        border-radius: 15px;
        min-width: 300px;
        max-width: 590px;
        padding: 46px;
        margin: 40px;
        width: auto;
    }

    .five_section_div_div {
        z-index: 10;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .five_section_div_mainone {
        margin-left: 10px;
        margin-right: 10px;
    }

    .sticker_div_div {
        position: absolute;
        right: -152px;
        top: -118px;
    }

    .sticker_div_img {
        width: 50%;
    }

    .seven_section_div_img_div {
        position: absolute;
        z-index: 2;
        right: 0;
    }

    .seven_section_div_img {
        display: none;
    }

    .seven_section_div_img_phone {
        display: inline;
        width: 100%;
    }

    .six_section_div_img {
        width: 100%;
    }

    .five_section_div {
        background-color: #B8EB84;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
    }

    .five_section_bg_design {
        display: none;
    }

    .fourth_path {
        position: relative;
        left: 0rem;
        top: 0rem;
        width: 100%;
    }


    .three_section {
        position: relative;
        height: 1400px;
        background: #c396fe;
    }

    .three_section_bg {
        position: absolute;
        top: -81vh;
    }

    .footer {
        padding: 30px 15px;
    }

    .footer h2 {
        font-size: 20px;
    }

    .footer .links,
    .footer .socials {
        flex-direction: column;
        gap: 15px;
    }

    .footer input[type="email"] {
        width: 80%;
    }

    .footer .email-input {
        flex-direction: column;
        gap: 10px;
    }

    .three_section_div {
        background-color: #C396FE;
        position: relative;
        top: -500px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .seven_section_div_content_two {
        display: flex;
        justify-content: space-evenly;
        margin-top: 36px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .seven_section_div_content_two_input {
        border-radius: 20px;
        border: none;
        width: 56%;
        padding: 18px;
    }

    .seven_section_div_content_one_para {
        width: 90%;
    }

    .seven_section_div_content_one_head {
        font-size: 23px;
        margin-left: 13px;
    }

    .six_section_div_head {
        color: white;
        width: 90%;
    }

    .five_section_div_div_second {
        position: relative;
        top: -140px;
    }

    .five_section_div_header {
        font-size: 1.5rem;
    }

    .five_section_div_para {
        font-size: 1rem;
    }

    .three_section_first_header {
        font-size: 25px;
    }

    .three_section_first_para {
        font-size: 15px;
        margin-top: 30px;
        font-weight: 600;
    }

    .three_section_second_para {
        font-size: 15px;
        margin-top: 30px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    .second_section_div_titlesection {
        padding: 0px 10px 0px 10px;
    }

    .second_section_div_titlesection_pathone_img_mobile {
        display: inline;
    }

    .first_section_destopimage {
        display: none;
    }

    .first_section_mobileimage {
        display: inline;
        width: 100vw;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .first_section_div {
        display: flex;
        flex-wrap: wrap;
    }

    .first_section_pathone_secondhalf {
        padding: 50px;
        padding-top: 313px;
    }

    .first_section_pathone_firsthalf {
        margin-left: 25px;
        margin-top: 40px;
        font-size: 20px;
    }

    .second_section_div_bg {
        background-color: #6C35EA;
        width: 100vw;
        position: relative;
        top: -290px;
        z-index: -1;
    }

    .second_section_div_titlesection_pathone {
        display: flex;
        padding-top: 100px;
        flex-direction: column;
    }

    .second_section_div_titlesection_pathtwo {
        display: flex;
        padding-right: 0px;
        flex-direction: column;
    }

    .two_section_hands {
        display: none;
    }

    .second_section_div_titlesection_pathone_img {
        display: none;
    }

    .second_section_div_titlesection_pathone_img_mobile {
        display: inline;
        width: 100vw;
        margin-top: 30px;
    }

    .paras {
        margin: 0px 10px 0px 10px;
    }

    .line {
        position: absolute;
        z-index: -1;
        top: -360px;
        left: 550px;
    }

    .third_path_div {
        position: relative;
        top: -50px;
    }

    .third_path {
        width: 100%;
    }


    .third_mobile {
        display: inline;
        width: 100vw;
    }

    .third_desktop {
        display: none;
    }

    .first_path {
        width: 100%;
    }

    .fourth_path_image {
        width: 100%;
    }

    .third_path_image {
        width: 100%;
    }

    .five_section_div_mainone {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    .five_section_div_div_div_img {
        width: 78%;
        margin-left: 70px;
        display: none;
    }

    .five_section_div_div_div_img_heart_div {
        position: relative;
        right: -259px;
        bottom: -195px;
        display: none;
    }

    .five_section_div_div_div_img_div {
        margin: 0px 10px 0px 67px;
    }

    .five_section_div_div_div_img_mobile {
        display: inline;
        width: 78%;
        margin-left: 0px;
    }

    .five_section_div_div_div_img_two {
        width: 78%;
        margin-left: 0px;
    }

    .footer_main {
        margin-top: 50px;
        display: flex;
        width: 100vw;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .first_section_pathone_firsthalf {
        margin-bottom: 20px;
    }

    .first_section_pathone_secondhalf {
        padding: 10px;
        padding-top: 250px;
    }

    .first_section_pathone_secondhalf_second {
        font-weight: bold;
        font-size: 30px;
        color: #B8EB84;
    }

    .second_section_div_titlesection_pathone_content_div {
        margin: 0px;
        width: 90%;
    }
}

@media (max-width: 582px) {
    .seven_section_div_img_div {
        position: absolute;
        z-index: 2;
        right: 0;
        top: -129px;
    }

    .three_section_div {
        background-color: #C396FE;
        position: relative;
        top: -123px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
}

@media (max-width: 522px) {
    .line {
        position: absolute;
        z-index: -1;
        top: -360px;
        left: 250px;
    }
}

@media (max-width: 432px) {
    .seven_section_div_img_div {
        position: absolute;
        z-index: 2;
        right: -62px;
        top: -128px;
    }
}

@media (max-width: 414px) {
    .seven_section_div_img_div {
        position: absolute;
        z-index: 2;
        top: 0px;
        right: -141px;
    }

    .seven_section_div_img_phone {
        display: inline;
        width: 69%;
    }
}

@media (max-width: 339px) {
    .three_section_bg {
        position: absolute;
        top: -68vh;
    }

    .seven_section_div_img_div {
        position: absolute;
        z-index: 2;
        top: 46px;
        right: -154px;
    }

    .seven_section_div_img_phone {
        display: inline;
        width: 69%;
    }

    .sticker_div_img {
        width: 37%;
    }

    .sticker_div_div {
        position: absolute;
        right: -188px;
        top: -86px;
    }
}

@media (max-width: 1380px) and (min-width: 1300px) {
    .three_section_bg {
        position: absolute;
        top: -600px;
    }

    .five_section_div_div_second {
        position: relative;
        top: -320px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        margin: 40px 40px 40px 0px;
    }

    .five_section_div_mainone {
        display: flex;
        height: 1400px;
    }

    .seven_section_div_img_div {
        position: absolute;
        z-index: 2;
        top: -154px;
    }

}

@media (width: 1280px) {
    .three_section_bg {
        position: absolute;
        top: -600px;
    }

    .first_section_pathone_firsthalf {
        margin-left: 25px;
        margin-top: 111px;
        font-size: 40px;
    }
}

@media (max-width:412px) and (max-height: 846px) {
    .three_section {
        position: relative;
        height: 925px;
        background: #c396fe;
    }
}


.montserrat-alternates-thin {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.montserrat-alternates-extralight {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.montserrat-alternates-light {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-alternates-extrabold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.montserrat-alternates-black {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.montserrat-alternates-thin-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.montserrat-alternates-extralight-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.montserrat-alternates-light-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.montserrat-alternates-regular-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.montserrat-alternates-medium-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.montserrat-alternates-semibold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.montserrat-alternates-bold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.montserrat-alternates-extrabold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.montserrat-alternates-black-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: italic;
}